body {
    background-image: url("../images/kiwis.png");
    background-repeat: repeat-x repeat-y;
    
}

h1 {
    margin: auto;
    padding-top: 50px;
    text-align: center;
   
}

h3 {
    margin: auto;
    padding: 10px 40px 10px 40px;
   
}

#title {
    font-size: 40pt;
    margin-bottom: 30pt;
}

.question {
    text-align: center;
    padding: 10pt;
    font-weight: bold;
    margin-top: 5px;
}

.intro {
    text-align: center;    
    padding: 10pt;
    font-size: 15pt;
}

p {
    text-align: center;
}

.answer {
    margin: auto;
}

.scoreCard {
    font-size: 15pt;
}

#start, #reset{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 40px 10px 40px;
    font-size: 20pt;
    font-weight: bold;
}

#gameBox {
    min-height: 400px;
}

.container {
    margin-bottom: 50px;
}